.createEvent {
    background-color: #f5f5f5;;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 500px;
    justify-content: center;
    border-radius: 15px;
}

.addEventWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    
}

.container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    text-align: left;
}

input[type="text"] { 
    border: 1px solid #ccc;
}

input {
    width: 70%; 
    margin-left: 20px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button[type="submit"] {
    background-color: #93C5CD;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}

/* Style the button on hover */
button[type="submit"]:hover {
    background-color: darkblue;
}


.wrapperEvent {
    background-color: #f9f9f9;
    width: 500px;
    margin: 0 auto;
    padding: 20px; /* Add some white space */
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add space at the top */
    margin-bottom: 20px; /* Add */
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#eventBg {
    height: 700px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    input {
        width: 80%;
    }
}
