.eventCard {
    display: flex;
    padding: 16px 24px 32px 24px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background: #f9f9f9;
    height: 180px;
    width: 300px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.eventCard:hover {
    background-color: #addbdb;
}