.Signin {
    display: flex;
    flex-direction: column;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4EBEE;
    height: 700px;
}
    .signin-page {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100vh;
        background-color: #E4EBEE;
        padding-top: 50px;
    }
  .signin-container {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 500px;
    max-width: 1000px; 
  }
.create-account-link {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;  
    text-decoration: none;
    font-weight: bold;
  }
  
  .create-account-link:hover {
    text-decoration: underline;
  }
  
  .wrapperSignIn {
    display: flex;
    flex-direction: column;
}

.anotherWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signupFlex {
  display: flex;
  justify-content: center;
}
