.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  padding: 20px;
  background-color: #E4EBEE;
  width: 100%;
}

.form-container {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 500px; 
}
.pageLayout {
  margin-top: 60px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
.login {
  width: clamp(400px,40vw, 700px);
}
label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #000;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fieldContainerLong {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}