.Signin {
    display: flex;
    flex-direction: column;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4EBEE;
    height: 700px;
}